/* Reset and font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fff6eb;
  color: #3b2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container styling */
.login-container {
  background-color: #fff6eb;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 80px;
  margin-bottom: 50px;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 0.95rem;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.forgot {
  text-align: right;
  font-size: 0.85rem;
  margin-bottom: 20px;
}

.forgot a {
  color: #3b2f2f;
  text-decoration: none;
}

button {
  width: 100%;
  background-color: #e89b6c;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

